<!DOCTYPE html>
<!-- Silly Billy Likes Willy
     SoftDev pd8
     ////2023
     P05 -  -->

<html lang="en">

<head>
     <title>Poopy Menu</title>

     <!-- css -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
     <link href="../static/css/style.css" rel="stylesheet">

</head>

<body>

     <h1>Flappy Turd by Silly Billy Likes Willy</h1>
     <h3>Team members: Selena Ho (PM), Wanying Li, Vivian Teo, Anthony Sun</h3>
     <br>

     <button id="btnStart">Start a new game</button>
     <br><br>

     <button id="btnJoin">Join a game</button>
     <input type="text" id="gameId" placeholder="enter your game ID">
     <br><br>

     <details>
          <summary>USER MANUAL</summary>
          user manual (under construction) ds;flkajf[apsd'k;awlkgn'ADS;LKA
          S'FKAS'D;M
     </details>

     <br><br>
     <a href="/game">(temporary)link to game</a>




     <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
          integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
          crossorigin="anonymous"></script>


     <!-- our js -->
     <script type="module" src="../static/js/client.js"></script>

</body>

</html>